{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}
{% load static %}
{% block content %}

<section class="projects-section center-column">
    <h2>Project</h2>

    <div class="project-lists">
        
        <div class="project-card">
            <a href="http://github.com/" target="_blank">
                <img src="{% static './img/picture-1.jpg' %}" alt="project image">
                <p>First project name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, asperiores?</p>
                <p>yyyy</p>

                <div class="skills-container center-row">
                    <label>skills</label>
                    <label>skills</label>
                    <label>skills</label>
                    <label>skills</label>
                </div>
            </a>
        </div>
    </div>

</section>


{% endblock content %}